:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-weight: 500;
  font-size: 25px;
  color: var(--black);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../assets/RainbowBlur.jpg");
  /* linear-gradient(110deg, #f93d66, #6d47d9); */
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
/* Each item in our grid will contain numbers */
.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: white;
}

.item p {
  margin: 0 0 5px 0;
}

/* NAVBAR */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
}

nav li a.active {
  color: white;
  background-color: hsl(247, 13%, 50%);
}

/* HEADER */
header {
  height: 800px;
  /* background: url(); */
  background-size: cover;
}

header h1 {
  padding: 65px 0 65px 25px;
  font-family: "Lora", serif;
  font-size: 30px;
}

nav {
  float: right;
  padding: 75px 25px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding-left: 80px;
}

header h2 {
  width: 1000px;
  clear: both;
  font-family: "Lora", serif;
  font-size: 50px;
  line-height: 80px;
  color: black;
}

/* ABOUT */

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: "Lora", sans-serif;
  font-size: 36px;
  padding-left: 50px;
}

#about p {
  font-size: 21px;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 5;
}
